<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head"></head>
<body>

	<!-- Navigation -->
	<nav th:replace="common/nav"></nav>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<div class="col-lg-3">

				<h1 class="my-4">Setting</h1>
				<div class="list-group">
					<a href="/setting" class="list-group-item">Keyword</a>
					<a href="/userInfo"	class="list-group-item active">User</a>
				</div>

			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">

				<div class="row">

					<div class="col-lg-4 col-md-6 mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">
									User Info.
								</h4>
								
								<p> Name <input type="text" name="name" /></p>
								<p> E-mail <input type="text" name="email" /></p>
								<p> New Password <input type="password" name="newpwd" /></p>
								<p> Old Password <input type="password" name="oldpwd" /></p>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 mb-4">
						<button>SAVE</button>
					</div>

				</div>
				<!-- /.row -->

			</div>
			<!-- /.col-lg-9 -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer th:replace="common/footer"></footer>
	
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script>
		window.onload = function(){
			$("input[name='name']").attr('value', '[[${session.user_info.name}]]');
			$("input[name='email']").attr('value', '[[${session.user_info.email}]]');
		};
		
		$('button').click(function() {			
			$("form").submit();
		});
	</script>
</html>